apiVersion: batch/v1
kind: Job
metadata:
  name: test-gpu-job
  namespace: default
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: gpu-worker
        image: nvidia/cuda:11.8.0-base-ubuntu22.04
        command: ["nvidia-smi"]
        resources:
          requests:
            nvidia.com/mig-2g.20gb: "1"
          limits:
            nvidia.com/mig-2g.20gb: "1"
